.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  /* overflow-y: auto; */
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  margin: 0;
  padding: 0;
}

.sidebar-nav a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.has-dropdown > a::after {
  content: ' ▾';
}

.dropdown {
  display: none;
  list-style: none;
}

.has-dropdown:hover .dropdown {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.dropdown li {
  position: relative;
}

.dropdown li:hover > .dropdown {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}
