/*==================== VARIABLES CSS ====================*/

$header-height: 3rem;

/*========== Colors ==========*/
/* Change favorite color */

$hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

/* HSL color mode */
$first-color: hsl(var($hue-color), 69%, 61%);
$first-color-second: hsl(var($hue-color), 69%, 61%);
$first-color-alt: hsl(var($hue-color), 57%, 53%);
$first-color-lighter: hsl(var($hue-color), 92%, 85%);
$title-color: hsl(var($hue-color), 8%, 15%);
$text-color: hsl(var($hue-color), 8%, 45%);
$text-color-light: hsl(var($hue-color), 8%, 65%);
$input-color: hsl(var($hue-color), 70%, 96%);
$body-color: hsl(var($hue-color), 60%, 99%);
$container-color: #fff;
$scroll-bar-color: hsl(var($hue-color), 12%, 90%);
$scroll-thumb-color: hsl(var($hue-color), 12%, 80%);

// grey
$grey-100: #141414;
$grey-200: #292929;
$grey-300: #3d3d3d;
$grey-400: #525252;
$grey-500: #666666;
$grey-600: #858585;
$grey-700: #a3a3a3;
$grey-800: #c2c2c2;
$grey-900: #e0e0e0;

// primary
$primary-100: #040509;
$primary-200: #080b12;
$primary-300: #0c101b;
$primary-400: #1f2535; // manually changed
$primary-500: #141b2d;
$primary-600: #1f2a40;
$primary-700: #727681;
$primary-800: #a1a4ab;
$primary-900: #f2f0f0; // manually changed
//  #d0d1d5;

// secondary
$secondary-100: #2f2a40;

// greenAccent
$greenAccent-100: #0f2922;
$greenAccent-200: #1e5245;
$greenAccent-300: #2e7c67;
$greenAccent-400: #3da58a;
$greenAccent-500: #4cceac;
$greenAccent-600: #70d8bd;
$greenAccent-700: #94e2cd;
$greenAccent-800: #b7ebde;
$greenAccent-900: #dbf5ee;

// redAccent
$redAccent-100: #2c100f;
$redAccent-200: #58201e;
$redAccent-300: #832f2c;
$redAccent-400: #af3f3b;
$redAccent-500: #db4f4a;
$redAccent-600: #e2726e;
$redAccent-700: #e99592;
$redAccent-800: #f1b9b7;
$redAccent-900: #f8dcdb;

// blueAccent
$blueAccent-100: #151632;
$blueAccent-200: #2a2d64;
$blueAccent-300: #3e4396;
$blueAccent-400: #535ac8;
$blueAccent-500: #6870fa;
$blueAccent-600: #868dfb;
$blueAccent-700: #a4a9fc;
$blueAccent-800: #c3c6fd;
$blueAccent-900: #e1e2fe;

/*========== Font and typography ==========*/
$body-font: "Poppins", sans-serif;

/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;

/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    $big-font-size: 3rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
  }
}

// /*========== Variables Dark theme ==========*/
// body.dark-theme {
/* HSL color mode */
//   $first-color-second: hsl(var($hue-color), 30%, 8%);
//   $title-color: hsl(var($hue-color), 8%, 95%);
//   $text-color: hsl(var($hue-color), 8%, 75%);
//   $input-color: hsl(var($hue-color), 29%, 16%);
//   $body-color: hsl(var($hue-color), 28%, 12%);
//   $container-color: hsl($hue-color), 29%, 16%;
//   $scroll-bar-color: hsl(var($hue-color), 12%, 30%);
//   $scroll-thumb-color: hsl(var($hue-color), 12%, 20%);

// dark theme

// grey
//   $grey-100: "#e0e0e0";
//   $grey-200: "#c2c2c2";
//   $grey-300: "#a3a3a3";
//   $grey-400: "#858585";
//   $grey-500: "#666666";
//   $grey-600: "#525252";
//   $grey-700: "#3d3d3d";
//   $grey-800: "#292929";
//   $grey-900: "#141414";

//   // primary
//   $primary-100: "#d0d1d5";
//   $primary-200: "#a1a4ab";
//   $primary-300: "#727681";
//   $primary-400: "#1F2A40";
//   $primary-500: "#141b2d";
//   $primary-600: "#101624";
//   $primary-700: "#0c101b";
//   $primary-800: "#080b12";
//   $primary-900: "#040509";

//   // greenAccent
//   $greenAccent-100: "#dbf5ee";
//   $greenAccent-200: "#b7ebde";
//   $greenAccent-300: "#94e2cd";
//   $greenAccent-400: "#70d8bd";
//   $greenAccent-500: "#4cceac";
//   $greenAccent-600: "#3da58a";
//   $greenAccent-700: "#2e7c67";
//   $greenAccent-800: "#1e5245";
//   $greenAccent-900: "#0f2922";

//   // redAccent
//   $redAccent-100: "#f8dcdb";
//   $redAccent-200: "#f1b9b7";
//   $redAccent-300: "#e99592";
//   $redAccent-400: "#e2726e";
//   $redAccent-500: "#db4f4a";
//   $redAccent-600: "#af3f3b";
//   $redAccent-700: "#832f2c";
//   $redAccent-800: "#58201e";
//   $redAccent-900: "#2c100f";

//   // blueAccent
//   $blueAccent-100: "#e1e2fe";
//   $blueAccent-200: "#c3c6fd";
//   $blueAccent-300: "#a4a9fc";
//   $blueAccent-400: "#868dfb";
//   $blueAccent-500: "#6870fa";
//   $blueAccent-600: "#535ac8";
//   $blueAccent-700: "#3e4396";
//   $blueAccent-800: "#2a2d64";
//   $blueAccent-900: "#151632";
// }
