@import 'theme';
.sidebar_container {
  background-color: $secondary-100;
  padding: 1rem 0.75rem 1rem 0.75rem;
  color: $primary-900;
  border-right: 0.5px solid $primary-800;
  transition: width 0.5s;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 0.75rem;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: white;
      overflow: hidden;
      width: 110px;
      height: 110px;
      object-fit: contain;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    h2 {
      font-size: 1.5rem;
    }
  }
  .navLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    div {
      display: flex;
      align-items: center;
    }
    &:hover {
      background-color: $blueAccent-200;
    }
  }
  .title {
    margin-left: 0.75rem;
  }
  .active {
    background-color: $blueAccent-100 !important;
  }
  .submenu_item {
    margin: 0.5rem 0;
    margin-left: 2rem;
  }
  .arrow {
    transform: rotate(0deg);
    transition: all 0.5s;
  }
  .rotate_arrow {
    transform: rotate(90deg);
    transition: all 0.5s;
  }
  .toggle_closed {
    position: absolute;
    left: 70px;
    top: 0px;
    z-index: 1000;
    background: $secondary-100;
    width: 200px;
    display: none;
    .submenu_item,
    .title,
    .navLink {
      margin-left: 0px;
      width: 100%;
    }
    .title,
    .submenu_item,
    .navLink {
      display: flex;
    }
  }
}
.opened {
  // width: 270px !important;
  min-width: 220px !important;
}
.closed {
  min-width: 80px !important;
  .navLink {
    justify-content: center;
  }
  .submenu_item,
  .image,
  .title,
  .arrow {
    display: none;
  }
}
.menu_item {
  padding: 0.25rem 0;
  position: relative;
  &:hover {
    .toggle_closed {
      display: block;
    }
  }
}
